body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  text-align:center;
}

body table {
    margin: 0 auto;

}

#intro_bar div{
display: inline-block;
}

#tasks_list {
    width: 100%;

    text-align: center;
    margin: 0;
}



#logo{
  padding: 20px;

}

#intro_bar p{
display: inline-block;
padding:10px;
}




#page_content div{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}


#user_box {
    padding: 25px;
    border-style: groove;
    border-color: #332cf5;
}

div.task_type_button {
    border-style: solid;
    padding: 15px;
}




div.task_type a {
    font-weight: bold;
    color: #f02d2d;
    font-size: 10px;
    text-decoration: none;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-left: 30px;
}

div.task_type {
    width: 350px;
    border-style: solid;

    border-color: #7d2ce8;
    margin:0 auto;
        margin-top: 10px;
}

#intro_bar {
    background-color: #c2c0c2;
    font-variant: small-caps;
}



div.task_type_button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #f5f4f7;
    background-color: #3f2da3;
}

div.task_type_button a {
    color: #ffffff;
    font-variant: normal;
    text-decoration: none;
    font-size: 120%;
}

