<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Queue Management System - v0.1</title>
</head>
<body>
<div id="intro_bar">
    <div id="logo"><h1>Queue Management System</h1></div>
    <p><a href={{url_for('index')}}>Home</a></p>
    <p><a href={{url_for('types_admin')}}>Change Task Types</a></p>
    <p><a href={{url_for('report')}}>Generate Report</a></p>
    <p><a href={{url_for('logout')}}>Logout</a></p>
    <div id="user_box">{% if anonymous==False %}Current User: {{current_user.id}}
    {% else %}
    <a href={{url_for('login')}}>Login</a> or <a href={{url_for('register')}}>Register</a>

    {% endif %}</div>
</div>

{% block content %}{% endblock %}

</body>
</html>