{% extends "base.html" %}
{% block content %}
        {% if anonymous == True %}
        Please login to access this webpage
        {% else %}
         <div id="page_content">

             {% if task_no == None %}
<p>Click on a task type to begin</p>
             <div id="tasks_list">
            {% else %}
             <div id="tasks_list">
Currently working on task number {{task_no}} - {{task_no_type}}, started at {{start_hour}}:{{start_minute}}
            {% endif %}
            </div>
             {% for type in task_types %}
             <div class="task_type_button">


                  <a href={{url_for('add_task_type', task_type=type)}}>{{task_types[type]}}</a>
             </div>
            {% endfor %}
<br>
    <!--        <div id="buttons">
            Finish Task<br>
            <form method="post" name="addTask">
        Add New Task:
        {{form.name(size=80)}}

    <input type="submit" value="Add">
</form><br>
            Take a Break<br>
        </div></div> -->
             {% endif %}


{% endblock %}